.users-names {
  list-style: none;
  font-weight: bolder;
  padding: 5px;
  box-shadow: 0 0 5px rgb(116, 109, 109);
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.users-names:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
